:root {
    --default-font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    --default-primary-font-color: white;
    --default-secondary-font-color: #0c1c3e;
    --default-header-footer-color: #0c1c3e;
    --default-background-color: #1d4396;
    --default-yellow: rgb(255, 203, 8);
}

/* CONFIGURAÇÃO GERAL */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: var(--default-font);
    background-color: var(--default-background-color);
}

/* ESTILIZAÇÃO DO HEADER */

.header-navigation .nav-bar {
    display: flex;
    justify-content: space-between;
}

.header-navigation .nav-bar::before {
    content: " ";
    background-color: var(--default-header-footer-color);
    background-size: cover;
    height: 4.375rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0.9;
    z-index: -1;
}

.header-navigation .nav-bar .button-logo {
    background: none;
    margin-top: 0.188rem;
    margin-left: 0.6rem;
    align-self: flex-start;
}

.header-navigation .nav-bar .button-logo .nav-bar-img {
    height: 5rem;
}

.header-navigation .nav-bar .navbar-menu {
    margin-top: 0.315rem;
    margin-right: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-navigation .nav-bar .navbar-menu .hamburguer-menu .checkbox-menu {
    opacity: 0;
}

.header-navigation .nav-bar .navbar-menu .hamburguer-menu label {
    height: 1.25rem;
    width: 2.188rem;
    display: block;
    position: relative;
    cursor: pointer;
}

.header-navigation .nav-bar .navbar-menu .hamburguer-menu label span {
    height: 0.313rem;
    width: 100%;
    border-radius: 1.875rem;
    background: white;
    display: block;
    position: absolute;
    transition: 0.25s ease-in-out;
}

.header-navigation .nav-bar .navbar-menu .hamburguer-menu label span:nth-child(1) {
    top: 0;
}

.header-navigation .nav-bar .navbar-menu .hamburguer-menu label span:nth-child(2) {
    top: 0.5rem;
}

.header-navigation .nav-bar .navbar-menu .hamburguer-menu label span:nth-child(3) {
    top: 1rem;
}

.header-navigation .nav-bar .navbar-menu .hamburguer-menu #checkbox-menu:checked + label span:nth-child(1) {
    top: 0.5rem;
    transform: rotate(-45deg);
}

.header-navigation .nav-bar .navbar-menu .hamburguer-menu #checkbox-menu:checked + label span:nth-child(2) {
    opacity: 0;
}

.header-navigation .nav-bar .navbar-menu .hamburguer-menu #checkbox-menu:checked + label span:nth-child(3) {
    top: 0.5rem;
    transform: rotate(45deg);
}

.header-navigation .nav-bar .navbar-menu .menu-item.hide {
    display: none;
}

.header-navigation .nav-bar .navbar-menu .menu-list::before {
    content: " ";
    background-color: var(--default-header-footer-color);
    border-top: 0.1rem solid gray;
    border-bottom: 0.1rem solid gray;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0.9;
    z-index: -1;
}

.header-navigation .nav-bar .navbar-menu .menu-list {
    height: 100%;
    margin-top: 4.04rem;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    z-index: 1;
}

.header-navigation .nav-bar .navbar-menu .menu-list .menu-item {
    list-style: none;
    padding: 0.938rem 0.625rem 0.938rem 80rem;
}

.header-navigation .nav-bar .navbar-menu .menu-list .menu-item:nth-child(1) a {
    padding: 0.938rem 0 0.938rem 8rem;
}

/* .header-navigation .nav-bar .navbar-menu .menu-list .menu-item:nth-child(2) a {
    padding: 0.938rem 0 0.938rem 8rem;
} */

/* .header-navigation .nav-bar .navbar-menu .menu-list .menu-item:nth-child(3) a {
    padding: 0.938rem 0 0.938rem 8rem;
} */

.header-navigation .nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.header-navigation .nav-bar a:hover {
    color: var(--default-yellow);
}

/* CONTEÚDO PRINCIAL */

body::before {
    content: " ";
    background-image: url(/img/background-initial.png);
    background-size: cover;
    height: 43rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0.6;
    z-index: -1;
}

.main-content {
    color: white;
    text-shadow: 0.125rem 0.125rem 0.125rem rgb(0 0 0 / 100%);
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.main-content .main-welcome h1 {
    font-size: 2.3rem;
    line-height: 2.5rem;
    margin: 2.5rem;
}

.main-content .main-welcome h3 {
    font-size: 1.05rem;
    padding: 1rem;
}

.main-content .logo img {
    margin-top: 2.5rem;
    height: 9rem;
}

.main-content .button-initial button {
    font-size: 1.2rem;
    background-color: var(--default-secondary-font-color);
    height: 2.3rem;
    width: 8.375rem;
    margin-top: 1rem;
    border-radius: 3.125rem;
    box-shadow: 3px 3px 3px black;
}

.main-content .button-initial button:hover {
    background-color: var(--default-background-color);
}

.main-content .button-initial a {
    text-decoration: none;
    color: white;
    padding: 0.625rem 2.813rem;
}

.main-content .button-initial a:hover {
    color: var(--default-yellow);
}

/* ESTILIZAÇÃO DO FOOTER */

.footer-navigation {
    font-size: 1rem;
    background-color: var(--default-header-footer-color);
    height: 6.2rem;
    margin-top: 6.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-navigation .footer-links {
    display: grid;
    line-height: 1.3rem;
}

.footer-navigation .footer-links a {
    color: gray;
    text-decoration: none;
}

.footer-navigation .footer-links a:hover {
    color: var(--default-yellow);
}

.footer-navigation .footer-buttonsDownload button {
    margin-right: 1.5rem;
    background-color: var(--default-header-footer-color);
}

.footer-navigation .footer-buttonsDownload button img {
    height: 2.5rem;
}

.footer-navigation .footer-githubLink a img {
    height: 3rem;
}