:root {
    --default-font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    --default-primary-font-color: white;
    --default-secondary-font-color: #0c1c3e;
    --default-footer-font-color: gray;
    --default-header-footer-color: #0c1c3e;
    --default-background-color: #1d4396;
    --default-yellow: rgb(255, 203, 8);
}

/* CONFIGURAÇÃO GERAL */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #0c1c3e;
    font-family: Arial, Helvetica, sans-serif;
}

/* ESTILIZAÇÃO DO HEADER */

.header-navigation .nav-bar {
    background-color: var(--default-header-footer-color);
    display: flex;
    background-size: cover;
    justify-content: space-between;
    height: 4.375rem;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.header-navigation .nav-bar .button-logo {
    background: none;
    margin-top: 0.188rem;
    margin-left: 0.6rem;
    align-self: flex-start;
}

.header-navigation .nav-bar .button-logo .nav-bar-img {
    height: 5rem;
}

.header-navigation .nav-bar .navbar-menu {
    margin-top: 0.315rem;
    margin-right: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-navigation .nav-bar .navbar-menu .hamburguer-menu .checkbox-menu {
    opacity: 0;
}

.header-navigation .nav-bar .navbar-menu .hamburguer-menu label {
    height: 1.25rem;
    width: 2.188rem;
    display: block;
    position: relative;
    cursor: pointer;
}

.header-navigation .nav-bar .navbar-menu .hamburguer-menu label span {
    height: 0.313rem;
    width: 100%;
    border-radius: 1.875rem;
    background: var(--default-primary-font-color);
    display: block;
    position: absolute;
    transition: 0.25s ease-in-out;
}

.header-navigation .nav-bar .navbar-menu .hamburguer-menu label span:nth-child(1) {
    top: 0;
}

.header-navigation .nav-bar .navbar-menu .hamburguer-menu label span:nth-child(2) {
    top: 0.5rem;
}

.header-navigation .nav-bar .navbar-menu .hamburguer-menu label span:nth-child(3) {
    top: 1rem;
}

.header-navigation .nav-bar .navbar-menu .hamburguer-menu #checkbox-menu:checked + label span:nth-child(1) {
    top: 0.5rem;
    transform: rotate(-45deg);
}

.header-navigation .nav-bar .navbar-menu .hamburguer-menu #checkbox-menu:checked + label span:nth-child(2) {
    opacity: 0;
}

.header-navigation .nav-bar .navbar-menu .hamburguer-menu #checkbox-menu:checked + label span:nth-child(3) {
    top: 0.5rem;
    transform: rotate(45deg);
}

.header-navigation .nav-bar .navbar-menu .menu-item.hide {
    display: none;
}

.header-navigation .nav-bar .navbar-menu .menu-list::before {
    content: " ";
    background-color: var(--default-header-footer-color);
    border-top: 0.1rem solid var(--default-footer-font-color);
    border-bottom: 0.1rem solid var(--default-footer-font-color);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0.9;
    height: 34rem;
    z-index: -1;
}

.header-navigation .nav-bar .navbar-menu .menu-list {
    margin-top: 4.04rem;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
}

.header-navigation .nav-bar .navbar-menu .menu-list .menu-item {
    list-style: none;
    padding: 0.938rem 0.625rem 0.938rem 73.7rem;
}

/* .header-navigation .nav-bar .navbar-menu .menu-list .menu-item:nth-child(1) a {
    padding: 0.938rem 0 0.938rem 8rem;
} */

/* .header-navigation .nav-bar .navbar-menu .menu-list .menu-item:nth-child(2) a {
    padding: 0.938rem 0 0.938rem 4rem;
} */

/* .header-navigation .nav-bar .navbar-menu .menu-list .menu-item:nth-child(3) a {
    padding: 0.938rem 0 0.938rem 5rem;
} */

.header-navigation .nav-bar a {
    text-decoration: none;
    color: var(--default-primary-font-color);
    font-size: 1.1rem;
}

.header-navigation .nav-bar a:hover {
    color: var(--default-yellow);
}

/* BARRA DE FILTRAR */

.main_content .section_search {
    font-size: 20px;
    height: 60px;
    width: 100%;
    top: 70px;
    border-radius: 50px;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* z-index: -1; */
}

.main_content .section_search select,
.main_content .section_search input,
.main_content .section_search button {
    font-size: 15px;
    height: 40px;
    width: 150px;
    text-align: center;
}

.main_content .section_search button {
    color: white;
    border-radius: 50px;
    background-color: #0c1c3e;
}

.main_content .section_search button:hover {
    background-color: #050d1f;
}

/* ESTILIZAÇÃO DO BACKGROUND */

.main_content::before {
    content: " ";
    background-image: url(/img/background_sky.jpeg);
    background-size: cover;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: fixed;
    z-index: -1;
    opacity: 0.5;
}

/* BARRA DO CÁLCULO AGREGADO */

.main_content .calculation_print {
    font-size: 15px;
    height: 30px;
    width: 55%;
    border-radius: 50px;
    top: 150px;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0.7;
    z-index: -1;
}

/* .main_content .calculation_print {
    display: none;
} */

/* ESTILIZAÇÃO DOS CARDS */

.main_content .pokemonList {
    top: 160px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: -1;
}

.main_content .pokemonList .cards {
    top: 10px;
}

.main_content .pokemonList .cards .front_cards,
.main_content .pokemonList .cards .back_cards {
    height: 255px;
    width: 170px;
    border-radius: 10px;
    margin: 8px;
    display: grid;
}

.main_content .pokemonList .cards .front_cards {
    background-color: rgb(255, 203, 8);
    align-content: space-between;
    text-align: center;
}

.main_content .pokemonList .cards .front_cards .numberPokemon {
    font-size: 12px;
    font-weight: bold;
    padding-top: 3px;
}

.main_content .pokemonList .cards .front_cards .namePokemon {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main_content .pokemonList .cards .front_cards .info_cards {    
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.main_content .pokemonList .cards .front_cards .typePokemon,
.main_content .pokemonList .cards .front_cards .regionPokemon {
    font-size: 15px;
    border-top: 2px solid gray;
    padding: 3px;
}

.main_content .pokemonList .cards .front_cards .regionPokemon {
    margin-bottom: 5px;
}

.main_content .pokemonList .cards .back_cards {
    font-size: 15px;
    background-color: white;
    align-items: center;
    align-content: center;
    display: none;
}

.main_content .pokemonList .cards .back_cards .weightPokemon,
.main_content .pokemonList .cards .back_cards .rarityPokemon,
.main_content .pokemonList .cards .back_cards .specialAttackPokemon {
    border-top: 2px solid gray;
    padding: 10px 0 10px 0;
}
.main_content .pokemonList .cards .back_cards .heightPokemon {
    padding: 10px 0 10px 0;
}

/* BOTÃO TOP */
.main_content .button-top {
    position: fixed;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    /* z-index: 1; */
}