/* CONFIGURAÇÃO GERAL */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #050d1f;
    font-family: Arial, Helvetica, sans-serif;
}

/* ESTILIZAÇÃO DO HEADER */

.header_navigation .nav_bar {
    height: 75px;
    width: 100%;
    background-color: #0c1c3e;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_navigation .nav_bar .nav_bar_img {
    height: 85px;
    width: 130px;
    margin-top: 22px;
}

.header_navigation .nav_bar .nav_bar_buttonLogo {
    background: none;
}

.header_navigation .nav_bar a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.header_navigation .nav_bar a:hover {
    font-size: 21px;
    color: yellow;
}

/* CONTEÚDO PRINCIAL */

.main_content::before {
    content: " ";
    background-image: url(/img/background-initial.png);
    background-size: cover;
    position: absolute;
    height: 700px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
    z-index: -1;
}

.main_content {
    height: 82vh;
    width: 100%;
    color: white;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 100%);
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.main_content .main_welcome h1 {
    font-size: 36px;
    line-height: 50px;
    margin: 55px;
}

.main_content .main_welcome h3 {
    font-size: 17px;
}

.main_content .logo img {
    margin-top: 30px;
    height: 180px;
    width: 275px;
}

.main_content .button_initial button {
    font-size: 20px;
    height: 40px;
    width: 150px;
    border-radius: 50px;
    box-shadow: 3px 3px 3px black;
    background-color: #0c1c3e;
}

.main_content .button_initial button:hover {
    background-color: #050d1f;
}

.main_content .button_initial a {
    text-decoration: none;
    color: white;
    padding: 10px 45px;
}

/* ESTILIZAÇÃO DO FOOTER */

.footer_navigation {
    font-size: 15px;
    height: 120px;
    margin-top: 130px;
    background-color: #0c1c3e;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_navigation .footer_links {
    display: grid;
    line-height: 21px;
}

.footer_navigation .footer_links a {
    text-decoration: none;
    color: gray;
}

.footer_navigation .footer_links a:hover {
    color: yellow;
}

.footer_navigation .footer_buttonsDownload button img,
.footer_navigation .footer_githubLink a img {
    height: 50px;
}

.footer_navigation .footer_buttonsDownload button {
    background-color: #0c1c3e;
}