/* CONFIGURAÇÃO GERAL */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #050d1f;
}

/* ESTILIZAÇÃO DO HEADER */

.header_navigation .nav_bar {
    height: 70px;
    background-color: #0c1c3e;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_navigation .nav_bar .nav_bar_img {
    width: 90px;
}

.header_navigation .nav_bar a {
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.header_navigation .nav_bar a:hover {
    font-size: 21px;
    color: yellow;
    cursor: pointer;
}

/* CONTEÚDO PRINCIAL */

.main_content::before {
    content: " ";
    background-image: url(/img/thumb-1920-1160159.png);
    background-size: cover;
    position: absolute;
    height: 700px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
    z-index: -1;
}

.main_content .main_welcome {
    height: 82vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 100%);
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.main_content .main_welcome .welcome h1 {
    font-size: 36px;
    line-height: 50px;
    margin: 40px;
}

.main_welcome .logo img {
    width: 200px;
}

.main_welcome .button_initial button {
    font-size: 20px;
    height: 40px;
    width: 150px;
    border-radius: 50px;
    background-color: #0c1c3e;
}

.main_welcome .button_initial button:hover {
    background-color: #050d1f;
    cursor: pointer;
}

.main_welcome .button_initial button a {
    text-decoration: none;
    color: white;
}

/* ESTILIZAÇÃO DO FOOTER */

.footer_navigation {
    font-size: 15px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    height: 120px;
    margin-top: 100px;
    background-color: #0c1c3e;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_navigation .footer_links,
.footer_navigation .footer_githubLinks {
    display: grid;
    line-height: 20px;
}

.footer_navigation .footer_links a,
.footer_navigation .footer_githubLinks a {
    text-decoration: none;
    color: gray;
}

.footer_navigation .footer_links a:hover,
.footer_navigation .footer_githubLinks a:hover {
    color: yellow;
    cursor: pointer;
}

.footer_navigation .footer_githubLinks p {
    font-weight: bold;
}

.footer_navigation .footer_buttonsDownload button img {
    height: 50px;
}

.footer_navigation .footer_buttonsDownload button {
    background-color: #0c1c3e;
}