/* CONFIGURAÇÃO GERAL */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #050d1f;
}

/* ESTILIZAÇÃO DO HEADER */

.header_navigation .nav_bar {
    height: 70px;
    width: 100%;
    background-color: #0c1c3e;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_navigation .nav_bar .nav_bar_img {
    width: 90px;
}

.header_navigation .nav_bar a {
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.header_navigation .nav_bar a:hover {
    font-size: 21px;
    color: yellow;
    cursor: pointer;
}

/* BARRA DE FILTRAR */

.main_content .section_search {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 60px;
    width: 100%;
    top: 80px;
    border: none;
    border-radius: 50px;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main_content .section_search input,
.main_content .section_search select,
.main_content .section_search button {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    width: 150px;
    text-align: center;
}

.main_content .section_search button {
    color: white;
    border-radius: 50px;
    background-color: #0c1c3e;
}

.main_content .section_search button:hover {
    background-color: #050d1f;
    cursor: pointer;
}

/* ESTILIZAÇÃO DO BACKGROUND */

.main_content::before {
    content: " ";
    background-image: url(/img/background_mainHTML.jpeg);
    background-size: cover;
    position: absolute;
    height: 700px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: -1;
}