:root {
    --default-font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    --default-header-footer-color: #0c1c3e;
    --default-transparent-header-color: #0c1c3ef1;
    --default-background-color: #1d4396;
    --default-primary-font-color: white;
    --default-secondary-font-color: #0c1c3e;
    --default-footer-font-color: gray;
    --default-yellow: rgb(255, 203, 8);
    --bar-hover-color-over: red;
    --default-button-hover-color: #050d1f;
}

/* ESTILIZAÇÃO DO HEADER */
.nav-bar {
    background-color: var(--default-header-footer-color);
    height: 4.375rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

/* ESTILIZAÇÃO DA LISTA DO MENU */
.menu-list {
    background-color: var(--default-transparent-header-color);
    height: 60rem;
    border-top: 0.1rem solid var(--default-footer-font-color);
    border-bottom: 0.1rem solid var(--default-footer-font-color);
    margin-top: 4.04rem;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    z-index: 2;
}

.menu-item {
    list-style: none;
    width: 90rem;
    padding-top: 0.938rem;
    padding-bottom: 0.938rem;
}

.menu-item:nth-child(1) a {
    margin-left: 82.8rem;
}

.menu-item:nth-child(2) a {
    margin-left: 86.55rem;
}

.menu-item:nth-child(3) a {
    margin-left: 79.35rem;
}

.menu-item:nth-child(4) a {
    margin-left: 79.9rem;
}

.nav-bar a {
    text-decoration: none;
    color: var(--default-primary-font-color);
    font-size: 1.1rem;
}

.nav-bar a:hover {
    color: var(--default-yellow);
}

/* BARRA DE FILTRAR */
.section-search {
    font-size: 20px;
    height: 60px;
    width: 100%;
    top: 70px;
    border-radius: 50px;
    background-color: var(--default-primary-font-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.section-search.expanded {
    z-index: -1;
}

.section-search select,
.section-search input,
.section-search button {
    font-size: 15px;
    height: 40px;
    width: 150px;
    text-align: center;
}

.section-search button {
    color: var(--default-primary-font-color);
    border-radius: 50px;
    background-color: var(--default-header-footer-color);
}

.section-search button:hover {
    background-color: var(--default-button-hover-color);
}

/* ESTILIZAÇÃO DO BACKGROUND */
.main-content::before {
    content: " ";
    background-image: url(../styles/img/background_sky.jpeg);
    background-size: cover;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    position: fixed;
    z-index: -1;
}

/* BARRA DO CÁLCULO AGREGADO */
.calculation-print {
    font-size: 15px;
    background-color: var(--default-primary-font-color);
    height: 30px;
    width: 90%;
    border-radius: 50px;
    top: 150px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    position: relative;
    z-index: -1;
}

/* ESTILIZAÇÃO DOS CARDS */
.pokemonList {
    top: 160px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    text-align: center;
    position: relative;
}

.hoverCards {
    color: var(--default-secondary-font-color);
    height: 255px;
    width: 170px;
    margin: 8px;
    transition: transform 2s;
    transform-style: preserve-3d;
}

.allCards:hover .hoverCards {
    transform: rotateY(180deg);
}

.front-cards,
.back-cards {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: grid;
    position: absolute;
    backface-visibility: hidden;
}

.front-cards {
    background-color: var(--default-yellow);
    align-content: space-between;
    text-align: center;
}

.numberPokemon {
    font-size: 12px;
    font-weight: bold;
    padding-top: 3px;
}

.namePokemon {
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.info-cards {
    background-color: var(--default-primary-font-color);
    border-radius: 0 0 10px 10px;
}

.typePokemon,
.regionPokemon {
    font-size: 15px;
    border-top: 2px solid var(--default-footer-font-color);
    padding: 3px;
}

.regionPokemon {
    margin-bottom: 5px;
}

.back-cards {
    font-size: 15px;
    background-color: var(--default-primary-font-color);
    align-items: center;
    align-content: center;
    display: grid;
    transform: rotateY(180deg);
}

.weightPokemon,
.rarityPokemon,
.specialAttackPokemon {
    border-top: 2px solid var(--default-footer-font-color);
    padding: 10px 0 10px 0;
}
.heightPokemon {
    padding: 10px 0 10px 0;
}

/* BOTÃO TOP */
.button-top {
    background: none;
    right: 1.25rem;
    bottom: 1.25rem;
    margin-right: 1rem;
    position: fixed;
    display: none;
}

.button-top img {
    height: 3.5rem;
}

@media screen and (max-width: 1000px) {
    /* BARRA DE FILTRAR */
    .section-search {
        font-size: 16px;
    }
    .section-search select,
    .section-search input,
    .section-search button {
        font-size: 13px;
        height: 40px;
        width: 120px;
    }
}

@media screen and (max-width: 801px) {
    /* BARRA DE FILTRAR */
    .section-search p {
        display: none;
    }
    .section-search select,
    .section-search input,
    .section-search button {
        border-radius: 50px;
    }
    /* BARRA DO CÁLCULO AGREGADO */
    .calculation-print {
        font-size: 13px;
    }
    /* ESTILIZAÇÃO DOS CARDS */
    .pokemonList {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 720px) {
    /* BARRA DE FILTRAR */
    .section-search {
        height: 85px;
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .section-search select,
    .section-search input,
    .section-search button {
        font-size: 12px;
        height: 30px;
        width: 110px;
    }
    /* BARRA DO CÁLCULO AGREGADO */
    .calculation-print {
        top: 165px;
    }
    /* ESTILIZAÇÃO DOS CARDS */
    .pokemonList {
        grid-template-columns: auto auto;
    }
    .pokemonList {
        top: 170px;
    }
    /* BOTÃO TOP */
    .button-top {
        right: 0;
    }
}

@media screen and (max-width: 475px) {
    /* BARRA DE FILTRAR */
    .section-search {
        font-size: 20px;
        height: 85px;
        border-radius: 0;
        display: grid;
        grid-template-columns: auto auto auto;
    }
    /* BARRA DO CÁLCULO AGREGADO */
    .calculation-print {
        font-size: 13px;
        top: 165px;
    }
    /* ESTILIZAÇÃO DOS CARDS */
    .pokemonList {
        grid-template-columns: auto;
    }
    .pokemonList {
        top: 170px;
    }
}